
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left-col{
  justify-content: center;
  align-items: center;
  background: #ddd;
  overflow-y: scroll;
  height: 40em;
}

#filter-tag {
  margin-bottom: 2em;
  margin-top: 2em;
  > * {
    margin-left: .3em;
  }
}
.search {
  width: 300px;
}