@import '../../assets/shared_sass/variables';

#header {
  display: flex;
  align-items: center;
  height: $header-height;
  background: $erasmus-colour;
  place-content: space-between;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  border-color: black;
  #hamburger-menu {
    cursor: pointer;

  }

  #header__right-side {
    display: none;
  }

}

#mobile-nav {
  display: none;
}

#header__nav-buttons {
  display: flex;
  margin-right: 3em;

  > li {
    margin-left: 2.5em;
  }
}

#header__nav-links {
  display: flex;

  > li {
    margin-left: 2.5em;
  }
}

#header__nop-logo {
  width: 5.5em;
}

#header__right-side {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#mobile-nav.menu-btn {
  display: block !important;
  border: 10px;
  border-color: red;
}

#mobile-nav {
  position: fixed;
  //z-index: 999;
  width: 45%;
  right: 0;
  top: 0;
  background: #0a3056;
  height: 100vh;
  padding: 1em;

  ul {
    margin-top: 5em;
    list-style: none;
    margin-top: -10px;
    >li {
      >button {
        color: white;
        text-decoration: none;
        display: block;
        padding: 0.5em;
        font-size: 1.3em;
        text-align: right;
        background: white;
        border-width: 3px;
        border-style: solid;
        border-color: $erasmus-colour;
        border-radius: .5em;
        text-decoration: none;

        &:hover {
          font-weight: bold;
        }
      }

      #close-button {
        border-width: 7px;
        position: relative;
        border-style: solid;
        margin-bottom: 4em;
        background-color: white;

        #x-img {
          height: .8em;
        }
      }
    }
  }
}

@media only screen and (min-width: $min-width-for-medium-screen) {
  #header__right-side {
    display: flex !important;
    nav ul {
      margin-top: 8%;
      >li {

      }
      #link-header {
        text-decoration: none;
        font-size: 1.75em;
        &:hover {
          font-weight: bold;
          //-webkit-text-stroke: .6px black;
        }
      }
    }
  }
  #hamburger-menu {
    display: none;
  }
}