#login {
  display: grid;
  position: relative;
  border-style: solid;
  border-radius: 10em;
  padding: 10em 0 10em 0;
  margin: 0 20em 0 20em;
}
#login__heading {
  position: center;
  text-align: center;
}

#login__form {
  margin: auto;
  display: block;
  > li {
    position: center;
  }
}
.w-100 {
  width: 100%!important;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}